<div nz-row>
  <div nz-col nzSpan="12">
    <input
      nz-input
      placeholder="Search"
      [(ngModel)]="searchValue"
      style="width: 100%;"
      maxlength="100"
    />
  </div>
  <div nz-col nzSpan="12" >
    <div nz-row  nzType="flex" nzJustify="end" >
      <div nz-col  class="gutter-row" nzSpan="6">
        <button
          nz-button
          nzType="primary"
          nzTooltipTitle="Add Team Member."
          nzTooltipPlacement="topCenter"
          nz-tooltip
          [nzLoading]="loading"
          [disabled]="loading"
          (click)="addTeamMember()"
        >
          Add Member
          <i nz-icon nzType="user-add" nzTheme="outline"></i>
        </button>
      </div>
      <div nz-col  class="gutter-row"nzSpan="5">
        <button
          nz-button
          style="background-color: #5cb85c;"
          nzTooltipTitle="Download Excel."
          nzTooltipPlacement="topCenter"
          nz-tooltip
          [nzLoading]="loading"
          [disabled]="loading"
          (click)="downloadExcel() "
        >
          <i nz-icon nzType="download" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </div>
 
</div>

<cdk-virtual-scroll-viewport itemSize="18">
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <nz-table #filterTable [nzData]="rows" [nzShowPagination]="false">
      <thead>
        <tr>
          <th class="header">#</th>
          <th class="header">Name</th>
          <th class="header">Email</th>
          <th class="header">Phone No.</th>
          <th class="header">User Group</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rows | billerTeam: searchValue; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.personel_l_name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.group }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</cdk-virtual-scroll-viewport>
