<div nz-row nzType="flex" style="margin-bottom:2vh;">
    <div nz-col nzSpan="12">
      <input
        nz-input
        placeholder="Search"
        [(ngModel)]="searchValue"
        style="width: 100%;"
        maxlength="100"
      />
    </div>
    <div nz-col nzSpan="12">
      <div nz-row nzType="flex" nzJustify="end" nzGutter="12">
        <div nz-col nzSpan="7">
          <button
            nz-button
            nzType="primary"
            nzTooltipTitle="Policy Mapping "
            nzTooltipPlacement="topCenter"
            nz-tooltip
            (click)="mapPayerInvoice()"
          >
            Policy Mapping
            <i nz-icon nzType="user-add"></i>
          </button>
        </div>
        <div nz-col nzSpan="7">
          <button
          nz-button
          style="background-color: #f0ad4e;"
          nzTooltipTitle="Upload Policy File."
          nzTooltipPlacement="topCenter"
          nz-tooltip
          [nzLoading]="loading"
          [disabled]="loading"
          (click)="uploadPayerPolicyExcel()"
        >
           Upload Policies
          <i nz-icon nzType="upload"></i>
        </button>  
        </div>

        <!-- <div nz-col nzSpan="8">
        <button
          nz-button
          style="background-color: #5cb85c;"
          nzTooltipTitle="Upload Policies For Umbrella Fund."
          nzTooltipPlacement="topCenter"
          nz-tooltip
          [nzLoading]="loading"
          [disabled]="loading"
          (click)="umbrellaFundPolicy()"
        >
          Umbrella Fund Policy
          <i nz-icon nzType="upload"></i>
        </button>  
        </div> -->
      </div>
    </div>
  </div>

  <cdk-virtual-scroll-viewport itemSize="18">
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
      <nz-table #basicTable [nzData]="rows" [nzShowPagination]="false">
        <thead>
          <tr>
            <th class="header">#</th>   
            <th class="header">Policy Number </th>  
            <th class="header">Policy Holder Name</th>
            <th class="header">Amount</th>
            <th class="header">Date</th>            
            <th class="header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rows;let i = index;">           
            <td>{{ i + 1}}</td>
            <td>{{ data.policy_no}}</td>         
            <td>{{ data.name }}</td>
            <td>{{ data.amount }}</td>
            <td>{{data.date | date: "short"}}</td>
            <td>
              <button
                nz-button
                nzType="link"
                nzTooltipTitle="Update File Mapping."
                nzTooltipPlacement="topCenter"
                nz-tooltip
                (click)="updateFileMapping()"
              >
                <i nz-icon nzType="eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-spin>
  
  </cdk-virtual-scroll-viewport>

  