.btn-group {
  margin-bottom: 3vh;
}

.btn {
  margin-right: 1vw;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

cdk-virtual-scroll-viewport {
  height: 80vh;
}

.header {
  font-weight: bolder;
}

.accounts-table {
  position: relative;
  top: 2vh;
}