/*
 style holder of the dashboard application
*/

.dashboard-holder { 
    height: 100%;
}

.graphs, .div-extension {
    height: 100% !important;
    overflow-y: auto !important;
    position: relative;
}
.graphs {
    background: #ffffff;
}
.div-extension button {
    display: block;
    /* margin: auto;
    margin-top: 0 !important; */
}
.recurring-bills-title {
    position: relative;
}
.recurring-bills-title button {
    display: block;
    margin: auto;
    margin-top: 10% !important;
}
.bill-title h2, .bill-title p, .activities-section .title h2, .activities-section .title p {
    margin-left: 5% !important;
}
.list-of-billers {
    height: 35%;
    overflow-y: auto !important;
}
.list-of-billers .list-items, .activities-section .text-content {
    border-left: 1px solid #666666;
    padding-left: 5% !important;
}

.activities-section {
    height: 40%; 
    overflow-y: auto;
}

/*  style main dashboard on this real dashboard */

.total-sum p, .total-sum h2 {
    margin: 0 !important;
    margin-top: .5%  !important;
}
.total-sum h2 {
    margin-bottom: 1% !important;
}

.text-color-yellow {
    font-family: 'digital-7';
    font-size: 2em !important;
}
.graph p {
    /* text-align: center !important; */
}
ngx-charts-pie-grid {
    margin: auto !important;
}

.cont {
    font-size: 2em;
  }