<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab  [nzTitle]="'Pending Eslips'">
    <app-pending-eslips></app-pending-eslips> 
    </nz-tab>
  <nz-tab  [nzTitle]="'Paid Eslips'">
    <app-paid-eslips></app-paid-eslips>
  </nz-tab>
</nz-tabset>
<!-- <div nz-row>
  <div style="margin-bottom:2vh;" nz-col nzSpan="12">
    <input nz-input placeholder="Search" [(ngModel)]="searchValue" style="width: 100%;" maxlength="100" />
  </div>
  <div style="margin-bottom:2vh;" nz-col nzSpan="12">
    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="6">
        <button nz-button nzType="primary" nzTooltipTitle="Download Excel" nzTooltipPlacement="topCenter" nz-tooltip
          click="downloadCSV" [disabled]="loading">
          Download Excel
          <i nz-icon nzType="download"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<nz-spin [nzSpinning]="this.loading === true" [nzSize]="'large'">
  <nz-table #filterTable [nzData]="rows" [nzShowPagination]="false">
    <thead>
      <tr>
        <th class="header">#</th>
        <th class="header">Date</th>
        <th class="header">E-Slip Number</th>
        <th class="header">Charge Amount</th>
        <th class="header">No. of Accounts</th>
        <th class="header">Bank Reference</th>
        <th class="header">E-Slip Amount</th>
        <th class="header">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
          let data of filterTable.data | paidEslips: searchValue;
          let i = index
        ">
        <td>{{ i + 1 }}</td>
        <td>{{ data.created_at | date: "short" }}</td>
        <td>{{ data.eslip_no }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.accounts }}</td>
        <td>{{ data.bank_ref_no }}</td>
        <td>{{ data.amount_to_pay | currency: "Ksh." }}</td>
        <td>
      
          <button style="margin-left:1vh" nz-button nzType="link" style="color: #f0ad4e;"
            nzTooltipTitle="View Eslip Accounts" nzTooltipPlacement="topCenter" nz-tooltip
            (click)="viewEslipAc(data.eslip_no)">
            <i nz-icon nzType="eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin> -->