<div class="faq-container">
  <!-- <div>
    <h1 class="faq-title">FAQS</h1>
    <button
      pButton
      type="button"
      label="Back"
      icon="pi pi-chevron-left"
      class="ui-button-secondary ui-button-raised close-btn"
      (click)="closeSidebar()"
    ></button>
  </div> -->

  <div class="faq-body">
    <h4 class="title">
      1. What is E-biller?
    </h4>
    <div>
      <li  class="list">
        E-biller is an account management system for business and corporate
        clients which makes the process of paying bulk electricity bills easier.
      </li>
    </div>

    <h4 class="title">
      2. Is the E-biller portal available for both my organization’s post pay
      and prepaid meter accounts and bill payment?
    </h4>

    <div>
      <li  class="list">
        E-biller portal is only available for postpaid accounts
      </li>
    </div>

    <h4 class="title">
      3. How can I pay my bills using E-biller portal
    </h4>

    <div>
      <li  class="list">
        Log into E-biller portal, select the Maintain Accounts and register your
        Kenya power bill accounts
      </li>
      <li  class="list">
        On the payment menu, select “make payment option” and generate an E-slip
      </li>
      <li  class="list">
        Log in as an authorizer and approve the e-slip
      </li>
      <li  class="list">
        Print the E-slip and make a payment through available channels to Kenya
        Power account details provided in the E-slip.
      </li>
    </div>
    <h4 class="title">
      4. What options are available for bill payment?
    </h4>

    <div>
      <li  class="list">
        RTGS
      </li>
      <li  class="list">
        Online Banking
      </li>
      <li>
        Mpesa
      </li>
      <li  class="list">
        Cash and Cheque deposits at any of Stanbic Bank branch countrywide
      </li>
    </div>
    <h4 class="title">
      5. Is there a fee charged to my organization for using E-biller portal?
    </h4>

    <div>
      <li  class="list">
        No, the service is free of charge
      </li>
    </div>
    <h4 class="title">
      6. How will my organization benefit for using E-biller portal?
    </h4>

    <div>
      <li  class="list">
        Easier payment of bulk bills: there is no need to forwarding bill
        schedules to KPLC.
      </li>
      <li  class="list">
        Easier management of bills.
      </li>
      <li  class="list">
        No more laborious manual reconciliation of customer bill accounts
      </li>
      <li  class="list">
        Real time updating of accounts.
      </li>
      <li  class="list">
        Better accountability for payments: the system provides a maker and
        checker capability in order to validate E-slips before payments
      </li>
    </div>

    <h4 class="title">
      7. Where can I get support in case I have any issues with E-biller portal?
    </h4>

    <div>
      <li  class="list">
        Please email or call Stanbic Bank, Client Services Call Centre:+254 20 3268 212
      </li>
      <li  class="list">
        Email: Corporatebankingkenya@Stanbic.com
      </li>
    </div>
    <h4 class="title">
      8. How will E-biller portal help my organization manage its power accounts
      billing cycle?
    </h4>

    <div>
      <li class="list">
        Clients are able to view their accounts bills at any time of the day and
        pay without delay
      </li>
      <li  class="list">
        Clients no longer have to rely on manual bills from Kenya Power
      </li>
    </div>
  </div>
</div>
