<div nz-row nzGutter="10" style="margin-bottom:2vh">
  <div style="margin-bottom:2vh;" nz-col nzSpan="12">
    <input nz-input placeholder="Search" [(ngModel)]="searchValue" style="width: 100%;" maxlength="100" />
  </div>
</div>
<cdk-virtual-scroll-viewport itemSize="18">
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <nz-table #filterTable [nzData]="rows" [nzShowPagination]="false">
      <thead>
        <tr>
          <th class="header">#</th>
          <th class="header">Invoice Number</th>
          <th class="header">Service</th>
          <th class="header">Email</th>
          <th class="header">Customer Code</th>
          <th class="header">Amount</th>
          <th class="header">Due Date</th>
          <th class="header">Actions</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
              let row of rows |invoiceSearch: searchValue; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ row.invoice_no }}</td>
          <td>{{ row.service }}</td>
          <td>{{ row.email }}</td>
          <td>{{row.customer_code}}</td>
          <td>{{ row.amount }}</td>
          <td>{{ row.due_date}}</td>
          <td>
            <button style="margin-left:1vh" nz-button nzType="link" style="color: #f0ad4e;"
              nzTooltipTitle="Edit Invoice Map" nzTooltipPlacement="topCenter" nz-tooltip (click)="editInvoiceMap()">
              <i nz-icon nzType="eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</cdk-virtual-scroll-viewport>
