<!-- 
<div fxLayout="column">

  <div class="" fxFlex="100" fxLayout="row">
    <div class="icon" fxFlex="10" fxLayout="row">
      <button mat-icon-button aria-label="Example icon-button with a heart icon" class="button-left"
        (click)="closeStep()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div class="title" fxFlex="70">
      <img src="assets/images/Group 1003.png" alt="">
    </div>
  </div>


  <div class="text-row" fxFlex="100" fxLayout="row">
    <div class="invoice-text" fxFlex="100" fxFlexOffset="0">

      <p  class="text-color-grey-dark"> Please verify your email address to get started with E-Biller </p>
      <p class="text-color-grey-dark">
        This will help us keep your invoices and your financial information safe ad secure.
      </p>
  

      <button color="accent" mat-raised-button class="buttonsert" (click)="closeStep()">

        Check your Inbox Email has been sent!
        <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>

      </button>


    </div>
  </div>
</div> -->
