<div class="split-content" nz-row>
  <div nz-col nzSpan="12" class="white">
    <div nz-row>
      <div nz-col nzSpan="5">
        <i
          nz-icon
          nzType="arrow-left"
          nzTheme="outline"
          style="font-size: 36px; color: #08c; margin-left:5vh; margin-top:2vh;"
          nzTooltipTitle="Back"
          nzTooltipPlacement="right"
          nz-tooltip
          (click)="closeRole()"
        ></i>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="group-title">
          <h1>You have {{ listCount }} User Groups</h1>

          <h3>
            Add New Group:
          </h3>
        </div>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="13" nzOffset="1">
        <form nz-form [formGroup]="addGroupForm">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="email">Group Name</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nz-input
                style="width:100%"
                class="input-size"
                formControlName="groupName"
                autocomplete="off"
                placeholder="Group Name"
                maxlength="50"
              />
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
      <div nz-col nzSpan="3" class="add-btn">
        <button
          nz-button
          nzType="primary"
          [disabled]="addGroupForm.invalid"
          (click)="addGroup()"
          [nzLoading]="add"
        >
          Add
          <i nz-icon nzType="plus" nzTheme="outline"></i>
        </button>
      </div>
    </div>
    <div nz-row class="group-list">
      <div nz-col nzSpan="24">
        <h3>
          Existing Groups:
        </h3>
      </div>
    </div>

    <ul class="list-item">
      <li *ngFor="let item of groupList; let i = index">
        <div
          class="row-list-group"
          nz-row
          (click)="divClick(item.group_id, i)"
          [ngClass]="{ 'active-row': item.selected }"
        >
          <div class="department" nz-col nzOffset="5" nzSpan="7">
            <p class="bold">{{ item.name }} Department</p>
          </div>
          <div class="" nz-col nzSpan="7">
            <p class="ligh text-color-grey-dark">{{ item.noOfUsers }} Users</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div nz-col nzSpan="12">
    <div nz-row class="grey-title">
      <div nz-col nzSPan="24">
        <h3>
          Group Assignments:
        </h3>
      </div>
    </div>
    <div nz-row>
      <form nz-form #f="ngForm" >
        <div nz-col nzOffset="2" nzSpan="19">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nz-input
                nzSize="large"
                style=" width:100%;border-width:0px;border:none; box-shadow: none;background-color: #d6d6d6;"
                placeholder="Group Name"
                [(ngModel)]="groupName"
                name="groupName"
                id="groupName"
                autocomplete="off"
                required
                maxlength="50"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
    <div nz-row class="roles-title">
      <div nz-col nzSpan="24"></div>
      <h4 class="">Roles:</h4>
    </div>
    <div nz-row class="role-checkbox">
      <div nz-col nzSpan="9" nzOffset="2" class="role-checkbox-ctnt">
        <ul class="menu-item-list">
          <li *ngFor="let item of leftData" value="{{ item.menuId }}">
            <label
              nz-checkbox
              [(ngModel)]="item.selected"
              name="{{ item.menuId }}"
            >
              {{ item.menuName }}
            </label>
          </li>
        </ul>
      </div>
      <div class="role-checkbox-ctnt" nzSpan="9">
        <ul class="menu-item-list">
          <li *ngFor="let item of rightData">
            <label
              nz-checkbox
              [(ngModel)]="item.selected"
              name="{{ item.menuId }}"
            >
              {{ item.menuName }}
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div nz-row class="user-list" nzType="flex" nzJustify="end">
      <div nz-col nzSpan="5">
        <button
          nz-button
          style="margin-right:10vh;"
          nzType="danger"
          class="delete-button"
          [disabled]="!f.valid || loading"
          (click)="deleteUserGroup()"
          [nzLoading]="delete"
        >
          Delete
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
      <div nz-col nzSpan="5">
        <button
          nz-button
          class="update-button"
          style="margin-right: 2vh;"
          nzType="primary"
          [disabled]="!f.valid || loading"
          (click)="updateMenu()"
          [nzLoading]="update"
        >
          Update
          <i nz-icon nzType="save" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </div>
</div>
