:host
  ::ng-deep
  .ngx-datatable.material:not(.cell-selection)
  .datatable-body-row:hover
  .datatable-row-group {
  color: #952424 !important;
  background: #f1f0e8;
  transition: all 0.4s ease 0s;
  font-weight: bolder;
}

.panel-holder {
  height: 52vh !important;
}

/* new css */
.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}
.loader-css {
 margin-left:auto;
 margin-right:auto;
 margin-top:3vh;
}

.header {
  font-weight: bolder;
}


.pending-eslips-table {
  position: relative;
  top: 2vh ;
}

cdk-virtual-scroll-viewport {
  height: 80vh;
}