<div nz-row>
  <div nz-col nzSpan="12">
    <input
      nz-input
      placeholder="Search"
      [(ngModel)]="searchValue"
      style="width: 100%;"
      maxlength="100"
    />
  </div>
</div>

<cdk-virtual-scroll-viewport itemSize="18">
<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
  <nz-table #filterTable [nzData]="rows">
    <thead>
      <tr>
          <th class="header">#</th>
        <th class="header">Company Name</th>
        <th class="header">Biller Code</th>
        <th class="header">Sector</th>
        <th class="header">Branch</th>
        <th class="header">Email</th>
        <th class="header">Created By</th>  
        <th class="header">Updated By</th>          
        <th class="header">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
      *cdkVirtualFor="
          let data of filterTable.data | billerSearch: searchValue;
          let i = index
        "
      >
      <td>{{i + 1}}</td>
        <td>{{ data.company_name }}</td>
        <td>{{ data.comp_code }}</td>
        <td>{{ data.sector }}</td>
        <td>{{ data.branch }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.created_by }}</td>
        <td>{{ data.updated_by }}</td>

        <td>
          <button
            nz-button
            nzType="link"
            style="color: #f0ad4e;"
            nzTooltipTitle="Resend Email."
            nzTooltipPlacement="topCenter"
            nz-tooltip           
            (click)="resendEmail(data)"
            [disabled]="!this.role.billerAllRoles"
          >
          <i nz-icon nzType="mail"></i>
          </button>
          <button
            style="margin-left:1vh;color: #5cb85c;"
            nz-button
            nzType="link"
            nzTooltipTitle="View Biller."
            nzTooltipPlacement="topCenter"
            nz-tooltip
            (click)="viewMore(data)"
            [disabled]="!this.role.billerAllRoles"
          >
            <i nz-icon nzType="eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
</cdk-virtual-scroll-viewport>