<form [formGroup]="billingLinesForm" nz-form [nzLayout]="'vertical'">
    <div nz-row nzGutter="16">
        <div nz-col nzSpan="10">
            <nz-form-item>
                <nz-form-label>Service Line Name</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorServName">
                    <input type="text" size="60" formControlName="service_line_name" nz-input placeholder="Service Name"
                        maxlength="50" required />
                    <ng-template #errorServName let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please Enter Service Line Name.
                        </ng-container>

                    </ng-template>
                </nz-form-control>

            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Currency</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorCurrency">
                    <nz-select nzAllowClear placeholder="Select Currency " formControlName="currency" class="input-size"
                        style="width:100%" name="this.chargetype" required>
                        <nz-option *ngFor="let currency of currencies" [nzValue]="currency"
                            nzLabel="{{ currency.name }}">
                            {{ currency.name }}
                        </nz-option>
                    </nz-select>

                    <ng-template #errorCurrency let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please Select Currency.
                        </ng-container>

                    </ng-template>

                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Account</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorAccount">
                    <nz-select nzAllowClear nzPlaceHolder="Select Account Name" formControlName="specific_account"
                        class="input-size" style="width:60%" required>
                        <nz-option *ngFor="let roles of accounts" [nzValue]="roles" nzLabel="{{ roles.account_name }}">
                            {{ roles.account_name }}
                        </nz-option>
                    </nz-select>

                    <ng-template #errorAccount let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please Select Account.
                        </ng-container>

                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Service Email</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorServiceEmail">
                    <input type="text" size="60" formControlName="eslip_email" nz-input placeholder="Service Email"
                        maxlength="100" required />

                    <ng-template #errorServiceEmail let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Service Line Email is required.
                        </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">
                            Please Enter Valid Email.
                        </ng-container>

                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Service Line Prefix.</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorServicePrefix">
                    <input type="text" size="60" formControlName="service_line_prefix" nz-input placeholder="Biller Prefix"
                        maxlength="4" required />

                    <ng-template #errorServicePrefix let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Service Line Prefix.
                        </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">
                            Service Line Prefix should start with E.
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <button nz-button style="background-color: #f0ad4e; margin-left:2vh;margin-top:0.5vh;"
                    nzTooltipTitle="Add the Service Line." nzTooltipPlacement="topCenter" nz-tooltip
                    [nzLoading]="loading">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    Add Service
                </button>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">


            <nz-form-item>
                <nz-table nzTemplateMode [nzData]="billing_line">
                    <thead>
                        <tr>
                            <th class="header">#</th>
                            <th class="header">Service Line</th>
                            <th class="header">Account Number</th>
                            <th class="header">Currency</th>
                            <th class="header">Email</th>
                            <th class="header">Prefix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of billing_line; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{data.service_line}}</td>
                            <td>{{data.account}}</td>
                            <td>{{data.currency}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.prefix}}</td>
                        </tr>
                    </tbody>

                </nz-table>
            </nz-form-item>
        </div>
    </div>

    <nz-form-item>
        <nz-form-label [nzSpan]="8"></nz-form-label>
        <div nz-row >
            <div nz-col nzSpan="12">
                <div nz-row nzJustify="start">
                    <div nz-col nzSpan="5">
                        <button nz-button nzType="primary" (click)="backToAdmin()" [nzLoading]="loading">Back</button>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <div nz-row nzJustify="end">
                    <div nz-col nzSpan="5">
                        <button nz-button nzType="primary" (click)="saveBiller()" [nzLoading]="loading">Save Details</button>
                    </div>
                </div>
            </div>
    
        </div>
      </nz-form-item>

</form>