<div nz-row>
    <div nz-col nzSpan="12">
      <input
        nz-input
        placeholder="Serach "
        [(ngModel)]="searchValue"
        style="width: 100%;"
        maxlength="100"
      />
    </div>
    <div nz-col nzSpan="12">
      <div nz-row nzType="flex" nzJustify="end">
        <div nz-col nzSpan="4">
            <button
            nz-button
            nzTheme="outline"
            style="font-size: 36px; color: #08c;margin-bottom: 3vh;"
            nzType="link"
            nzTooltipTitle="Download Excel"
            nzTooltipPlacement="left"
            nz-tooltip
          
          >
            <i nz-icon nzType="download"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
  <nz-table #filterTable [nzData]="rows">
    <thead>
      <tr>
          <th class="header">#</th>
        <th class="header">
         Invoice Number
        </th>
        <th class="header">
          Account Name
        </th>
        <th class="header">
          E-Slip Number
        </th>
        <th class="header">
          Amount Due
        </th>
        <th class="header">
        Amount to Pay
        </th>
        <th class="header">
         Due Date
        </th>
      </tr>
    </thead>
    <tbody>
    
      <tr
        *ngFor="
          let data of filterTable.data | searchEslip: searchValue;
          let i = index
        "
      > 
      <td>{{i +1 }}</td>
        <td>{{ data.invoice }}</td>
       <td>{{ data.account_name }}</td>
        <td>{{ data.eslip_no }}</td>      
        <td>Ksh. {{ data.amount_due | number: '2.' }}</td>        
        <td>Ksh. {{ data.amount_to_pay | number: '2.'}}</td>
        <td>{{ data.due_date | date: "short" }}</td>
       
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
  