.container{
  width:100vw;
  height:100vh;
  position: relative;
  }

  .bluescreen{
    width:100vw;
    height:75vh;
    opacity: 95%;      
    background: linear-gradient(rgba(0, 68, 255, 0.794),rgba(10, 34, 64, 1));
    background-size: 100% 100%;
   
}

.toolbar{
  position: absolute;
  width:90vw;
  height:10vh;
  margin-left: 5vw;
  margin-right:70vw;
  top: 10%;
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  z-index: 100;
}

.title{
  width:30vw;
  height:15vh;    
  margin:auto;
  text-align: center;
  font-family: 'Segoe UI Light';
  size: 10vh;
}
.title h2 {
font-family: 'Alfrida Signature';
font-weight: 300 !important;
font-size: 3.5em;
text-align: center;
color:#FFD387;  
margin-left: 11vw;
}

.text-title {
  text-align: center;
  color:#FFFFFF;
  opacity: 100%; 
  font-size: 4vh;


}

.logo{  
  width:50vw;
  height:10vh;
  background-size: 100% 50%;
}
.logo img {
width: 65%;
height: auto;
cursor: pointer;
}


.logo {
  margin-top: 2.5vh !important;
  width: 60% !important;
  margin-left: 2vw !important;
  display: block;
}

.home-btn {
  margin-top: 2.5vh;
  background-color: #FFD387;
  margin-left: 10vw;
}

.loginscreen{
  position: absolute;
  background-color: #FFFFFF;
  width:30vw;
  height:45vh;
  margin-left: 37vw;
  margin-right:65vw;
  top: 35%;
  margin-top: 40px;
}

.title-login{
  color:rgba(0, 0, 0, 1);
  font-size:1.5em;
  font-family: 'Segoe UI Bold';
  font-weight:800;
  margin-top:1vh;
  text-align: center;
}

.login-form{
  margin: 5vh;
}