<div nz-row>
    <div nz-col nzSpan="12">
      <input
        nz-input
        placeholder="Search"
        [(ngModel)]="searchValue"
        style="width: 100%;"
        maxlength="100"
      />
    </div>
    <!-- <div nz-col nzSpan="12">
      <div nz-row nzType="flex" nzJustify="end">
        <div nz-col nzSpan="3">
          <button
            nz-button
            style="background-color: #5cb85c;"
            nzTooltipTitle="Download Excel."
            nzTooltipPlacement="topCenter"
            nz-tooltip
            [nzLoading]="loading"
            (click)="downloadExcel()"
            [disabled]="!this.role.myTeamRole"
          >
            <i nz-icon nzType="download" nzTheme="outline"></i>
          </button>
        </div>
      </div>
    </div> -->
  </div>
  
  <cdk-virtual-scroll-viewport itemSize="18">
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
      <nz-table #basicTable [nzData]="rows" [nzShowPagination]="false">
        <thead>
          <tr>
            <th class="header">#</th>
            <th class="header">Name</th>
            <th class="header">Number Of Users</th>
            <th class="header">Status</th>
            <th class="header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *cdkVirtualFor="
              let data of rows | teamSearch: searchValue;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.noOfUsers }}</td>
            <td>{{ data.status }}</td>
          
            <td>
              <button
              nz-button
              nzType="link"
              style="color: #f0ad4e;"
              nzTooltipTitle="Approve Group Deletion"
              nzTooltipPlacement="topCenter"
              nz-tooltip
              (click)="deleteGroup(data)"
              [disabled]="!this.role.myTeamRole"
            >
            <i nz-icon nzType="check" nzTheme="outline"></i>
            </button>
            <button
            nz-button
            nzType="link"
            nzTooltipTitle="Reject Group Deletion."
            nzTooltipPlacement="topCenter"
            nz-tooltip
            (click)="RejectGroupDelete(data)"
            [disabled]="!this.role.myTeamRole"
          >
          <i nz-icon nzType="close" nzTheme="outline"></i>
          </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-spin>
  </cdk-virtual-scroll-viewport>