<div nz-row style="margin-bottom: 2vh;">
  <div nz-col nzSpan="12">
    <input nz-input placeholder="Search" [(ngModel)]="searchValue" style="width: 100%;" maxlength="100" />
  </div>
  <div nz-col nzSpan="12">
    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col class="gutter-row" nzSpan="6">
        <button nz-button nz-dropdown [nzDropdownMenu]="menu4" [nzLoading]="loading" [disabled]="loading "
          [nzDisabled]="!this.role.billerAllRoles">
          Add Biller
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="addEbiller()">Open Biller</li>
            <li nz-menu-item (click)="addClosedBiller()">Closed Biller</li>
          </ul>
        </nz-dropdown-menu>
      </div>

      <div nz-col class="gutter-row" nzSpan="5">
        <button nz-button style="background-color: #5cb85c;" nzTooltipTitle="Download Excel."
          nzTooltipPlacement="topCenter" nz-tooltip [nzLoading]="loading" [disabled]="loading"
          (click)="downloadExcel()">
          Download
          <i nz-icon nzType="download"></i>
        </button>

      </div>
    </div>
  </div>
</div>
<cdk-virtual-scroll-viewport itemSize="18">
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <nz-table #filterTable [nzData]="rows" [nzShowPagination]="false">
      <thead>
        <tr>
          <th class="header">#</th>
          <th class="header">Company Name</th>
          <th class="header">Biller Code</th>
          <th class="header">Sector</th>
          <th class="header">Branch</th>
          <th class="header">Email</th>
          <th class="header">Created By</th>
          <th class="header">Updated By</th>
          <th class="header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="
          let data of rows | billerSearch: searchValue;
          let i = index
        ">
          <td>{{ i + 1 }}</td>
          <td>{{ data.company_name }}</td>
          <td>{{ data.comp_code }}</td>
          <td>{{ data.sector }}</td>
          <td>{{ data.branch }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.created_by }}</td>
          <td>{{ data.updated_by }}</td>

          <td>
            <button nz-button nzType="link" style="color: #f0ad4e;" nzTooltipTitle="Edit Biller."
              nzTooltipPlacement="topCenter" nz-tooltip [disabled]="!this.role.billerAllRoles"
              (click)="editBiller(data)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            <button nz-button nzType="link" style="color: #0609c2;" nzTooltipTitle="View Biller Team Members."
              nzTooltipPlacement="topCenter" nz-tooltip [disabled]="!this.role.billerAllRoles"
              (click)="getTeamMembers(data)">
              <i nz-icon nzType="team" nzTheme="outline"></i>
            </button>
            <button style="margin-left:1vh;color: #5cb85c;" nz-button nzType="link" nzTooltipTitle="View Biller."
              nzTooltipPlacement="topCenter" nz-tooltip (click)="viewMore(data)">
              <i nz-icon nzType="eye"></i>
            </button>
            <button nz-button nzType="link" nzTooltipTitle="Delete Biller." nzTooltipPlacement="topCenter" nz-tooltip
              [disabled]="!this.role.billerAllRoles" (click)="DeleteBiller(data)">
              <i nz-icon nzType="delete" [nzTheme]="'twotone'" [nzTwotoneColor]="'#f70707'"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</cdk-virtual-scroll-viewport>