<!-- <div class="modal-approve" fxLayout = "column">
  <div class="cancel">
      <button
      pButton
      type="button"
      label="cancel"       
      (click)="cancel()"
      class="ui-button-secondary"
    ></button>
  </div>
  <div class="title" fxLayoutAlign = "center center">
    Reconciliation
  </div>
  <div class="data-approve" fxLayout ="column">
    <div class="">
      Eslip Number
       
        <input type="text" size="45"pInputText [ngModel] = "esno"  name= "esno" required readonly />

    </div>
    <div class="data-input">
       Amount
        <input type="text" size="45"pInputText  [ngModel] = "amt" name= "amt" required readonly />

    </div>
    <div class="data-input">
       Reference
        <input type="text" size="45"pInputText  [ngModel] = "ref"  name= "ref" required readonly />

    </div>
    <div class="data-input">
       FT
        <input type="text" size="45"pInputText   [ngModel] = "tf" name= "tf" required readonly />

    </div>
    <div class="data-input">
        Date Created   
        <input type="text" size="45"pInputText  [ngModel] = "date" name= "date" required readonly />

    </div>

  </div>

  <div class="button-confirm" fxLayout = "row" fxAlignmentGap = "5" fxLayoutAlign = "center center">
    <div class="btn-approve" fxFlex="40" fxLayoutAlign = "center center">
        <button
        pButton
        type="button"
        label="Approve"
        (click)="approvePayment()"
        class="ui-button-success"
      ></button>
    </div>
    <div class="btn-reject" fxFlex="40" fxLayoutAlign = "center center">
        <button
        pButton
        type="button"
        label="Reject"       
        (click)="rejectPayment()"
        class="ui-button-warning"
      ></button>
    </div>

   

  </div>


</div> -->