<div class="table-operations">
  <div fxLayoutAlign="start center" style="margin-bottom:2vh;" fxFlex="100">
    <input nz-input placeholder="Search" [(ngModel)]="searchValue" style="width: 50%;" maxlength="50" />
  </div>
</div>
<nz-table #filterTable [nzData]="rows">
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Amount</th>
      <th>Reference</th>
      <th>FT</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <nz-spin [nzSize]="'large'" nzSimple *ngIf="this.loading === true"></nz-spin>
    <tr *ngFor="
        let data of filterTable.data | exceptions: searchValue;
        let i = index">
      <td>{{ data.created_at | date: 'short' }}</td>
      <td>{{ data.amount | currency: 'Ksh.'}}</td>
      <td>{{ data.reference }}</td>
      <td>{{ data.ft}}</td>
      <td>
        <button nz-button nzType="link" nzTooltipTitle="Reconiciliation." nzTooltipPlacement="topCenter" nz-tooltip
          (click)="reconciliationFn( data)">
          <i nz-icon nzType="eye"></i>
        </button>
        <button style="margin-left:1vh" nz-button nzType="link" style="color: #f0ad4e;"
          nzTooltipTitle="Ignore Exceptions." nzTooltipPlacement="topCenter" nz-tooltip (click)="ignoreFn(data)">
          <i nz-icon nzType="eye"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>