<div class="table-operations" nz-row>
  <div nz-col nzSpan="12">
    <input nz-input placeholder="Search" [(ngModel)]="searchValue" style="width: 100%;" maxlength="100" />
  </div>
  <div nz-col nzSpan="12">
    <div nz-row nzType="flex" nzJustify="end">     
      <div nz-col nzSpan="2">
        <button
          nz-button
          style="background-color: #5cb85c;"
          nzTooltipTitle="Download Excel."
          nzTooltipPlacement="topCenter"
          nz-tooltip
          [nzLoading]="loading"         
          (click)="downloadExcel()"
        >
          <i nz-icon nzType="download" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<cdk-virtual-scroll-viewport itemSize="18">
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <nz-table #basicTable [nzData]="rows" [nzShowPagination]= false>
      <thead>
        <tr>
          <th class="header">#</th>
          <th class="header">User Name</th>
          <th class="header">Other Name</th>
          <th class="header">Status</th>
          <th class="header">User Group</th>
          <th class="header">Email</th>
          <th class="header">Created By</th>  
          <th class="header">Updated By</th>  
          <th class="header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="
          let data of basicTable.data | teamSearch: searchValue;
          let i = index
        ">
          <td>{{ i + 1 }}</td>
          <td>{{ data.username }}</td>
          <td>{{ data.otherName }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.userGroup }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.created_by }}</td>
          <td>{{ data.updated_by }}</td> 
          <td>         
            <button
              nz-button
              nzType="link"
              style="color: #f0ad4e;"
              nzTooltipTitle="Approve Creation of User"
              nzTooltipPlacement="topCenter"
              nz-tooltip
              (click)="approveBankUser(data)"
              [disabled]="!this.roles.myTeamRole"
              
            >
            <i nz-icon nzType="check" nzTheme="outline"></i>
            </button>
            <button
            nz-button
            nzType="link"
            nzTooltipTitle="Reject Creation of User."
            nzTooltipPlacement="topCenter"
            nz-tooltip
            (click)="rejectCreateUser(data)"
            [disabled]="!this.roles.myTeamRole"
          
          >            
          <i nz-icon nzType="close" nzTheme="outline"></i>
          </button>
          </td>
          <!-- <td>
            <button nz-button nzType="link" nzTooltipTitle="Edit Team Member." nzTooltipPlacement="topCenter" nz-tooltip
              (click)="onRowSelect(data)">
              <i nz-icon nzType="eye"></i>
            </button>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</cdk-virtual-scroll-viewport>
<!-- <nz-modal nzTitle="Invited User" [(nzVisible)]="displayDialog" (nzOnCancel)="handleCancel()">
  <nz-spin nzSimple [nzSize]="'large'" *ngIf="this.loading === true"></nz-spin>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Username</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="this.username" maxlength="50" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Other Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="this.other_name" maxlength="50" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="this.email" disabled maxlength="50" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">User Group</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="this.role" disabled />
    </nz-form-control>
  </nz-form-item>
  <div *nzModalFooter nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="5">
      <button
      nz-button
      nzType="primary"
      [nzLoading]="loading"
      (click)="approveBankUser(this.username)"
      [disabled]="!this.roles.myTeamRole"
    >
      Approve
    </button>
    </div>
    <div nz-col nzSpan="5">
      <button
    nz-button
    style="background-color: #5cb85c;"
    [nzLoading]="loading"
    (click)="rejectBankUser(this.username)"
    [disabled]="!this.roles.myTeamRole"
  >
    Reject
  </button>

    </div>
   
    
  </div>
</nz-modal> -->