<nz-steps [nzCurrent]="current">
  <nz-step nzTitle="Upload Policy File Sample"> </nz-step>
  <nz-step nzTitle="Policy Columns"> </nz-step>
</nz-steps>

<div class="steps-content">
  <div *ngIf="upload" style="margin-top: 5vh; margin-bottom: 5vh;" nz-row>
    <app-policy-instructions></app-policy-instructions>
  </div>
  <div *ngIf="mapping" style="margin-top: 5vh;" nz-row>
    <app-policy-mapping></app-policy-mapping>
  </div>
</div>

<div nz-row nzType="flex" nzJustify="end" class="button">
  <div nz-col nzSpan="2">
    <button nz-button nzType="primary" (click)="next()" *ngIf="current < 1">
      <span>Next</span>
    </button>
  </div>
</div>
