:host
  ::ng-deep
  .ngx-datatable.material:not(.cell-selection)
  .datatable-body-row:hover
  .datatable-row-group {
  color: #ffffff !important;
  background: #66655c;
  transition: all 0.4s ease 0s;
}

.panel-holder {
  height: 49vh !important;
}

.header {
  font-weight: bolder;
}

.paid-eslips-table {
  position: relative;
  top: 2vh ;
}

cdk-virtual-scroll-viewport {
  height: 80vh;
}
