<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab [nzTitle]="'Checkoff Payers'">
      <ng-template nz-tab>
        <app-checkoff-payer></app-checkoff-payer>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="'Pension Payers'">
      <ng-template nz-tab>
        <app-umbrella-payer></app-umbrella-payer>
      </ng-template>
    </nz-tab>
  
    <nz-tab [nzTitle]="'Payer Map List'" >
      <ng-template nz-tab>
        <app-payer-map-list></app-payer-map-list>
      </ng-template>
    </nz-tab>
  </nz-tabset>