<!-- <div class="head blue-background" fxLayout="column">
  <mat-progress-bar
    mode="query"
    *ngIf="this.loading === true"
  ></mat-progress-bar>
  <div class="" fxFlex="100" fxLayout="row">
    <div class="icon" fxFlex="10" fxLayout="row">
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
        class="button-left"
        (click)="closeModal()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div class="title" fxFlex="90">
      <h2 class="text-color-yellow">Hello {{ name }}<span></span></h2>
    </div>
  </div>

  <div class="paragraph-row" fxFlex="100" fxLayout="row">
    <div class="" fxFlex="100">
      <p>
        <strong>You</strong> are about to <strong>upgrade to</strong> a biller
      </p>
    </div>
  </div>

  <div class="form-row" fxFlex="100" fxLayout="row">
    <div class="invoice-form" fxFlex="60" fxFlexOffset="20">
      <form autocomplete="off" [formGroup]="upgradeBillerForm">
        <mat-form-field>
          <textarea matInput formControlName="message"     maxlength="50"></textarea>
          <mat-placeholder class="placeholder">
            Leave Comment
          </mat-placeholder>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="paragraph-row" fxFlex="100" fxLayout="row">
    <div class="" fxFlex="100">
      <button color="accent" mat-raised-button (click)="upgradeBiller()">
        Upgrade
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >check</mat-icon
        >
      </button>

      <br />
      <br />
    </div>
  </div>
</div>

 -->
