.payment-details table {
    width: 100%;
    border: 1px solid #cccccc;
    border-collapse: collapse;
  }

  .payment-details td,
  .payment-details tr {
    border-collapse: collapse;
    border: 1px solid #cccccc;
  }
  .payment-details table {
    margin-bottom: 5vh !important;
  }