.pay-eslip {
  
    height:85vh;
  }
  .title {
    /* // background-color:#0A2240; */
  margin-top:-8vh;
  
     
  }
  .title1 {
    /* // background-color:#0A2240; */
  margin-top:-4vh;
  
     
  }
  .input-field {
      margin-top:4vh;
      margin-left:2vh;    
  }
  .input-button {
    margin-left:10vh;
    margin-top:4vh;
  }
  
  .button-pay {
      margin-top:10vh;
     
  }
  .input-field2 {
    margin-top:4vh;
    margin-left:4vh;
    
  }
  
   .header-title {
     margin-top:4vh
   }
   .header-title1 {
    margin-top:-2vh
   }

   .div-style {
     margin-top: 2vh;
   }
   .div-style .h3 {
     font-weight: bold;
     font-size:2em;
   }