

<div nz-row nzGutter="10" style = "margin-bottom:2vh">
    <div nz-col nzSpan="12">
      <input
        nz-input
        placeholder="Search"
        [(ngModel)]="searchValue"
        style="width: 100%;"
        maxlength="100"
      />
    </div>
  
    <div nz-col nzSpan="12">
      <div nz-row nzType="flex" nzJustify="end">
        <div nz-col nzSpan="4">
          <button
            nz-button
            style="background-color: #5cb85c;"
            nzTooltipTitle="Download Excel."
            nzTooltipPlacement="topCenter"
            nz-tooltip
            [nzLoading]="loading"
            [disabled]="loading"
            (click)="downloadExcel()"
          >
            <i nz-icon nzType="download"></i>
          </button>
        </div>
      </div>
    </div>
 
  </div>
  
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <nz-table #filterTable [nzData]="rows">
      <thead>
        <tr>   
          <th class="header">#</th>           
          <th class="header">Invoice</th>
          <th class="header">Invoice Date</th>
          <th class="header">Service</th>   
          <th class="header">FT</th>      
          <th class="header">Commission</th>
          <th class="header">Tax</th>
          <th class="header">Amount</th>
          <th class="header">Date Paid</th>
          
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let data of filterTable.data  | invoiceSearch: searchValue; let i = index"
        >     
          <td>{{ i + 1 }}</td>             
          <td>{{ data.invoice }}</td>
          <td>{{ data.created_at | date: "short" }}</td>
          <td>{{ data.service }}</td>   
          <td>{{ data.ft }}</td>                    
          <td>{{ data.commission | number: '2.' }} %</td>
          <td>{{ data.tax | number: '2.' }} %</td>
          <td>Ksh. {{ data.amount | number: '2.'}}</td>
          <td>{{ data.date_paid | date: "short" }}</td>
          <!-- <td>
            <button
              nz-button
              nzType="link"
              style="margin-left:1vh"
              nzTooltipTitle="View Eslip."
              nzTooltipPlacement="topCenter"
              nz-tooltip
              (click)="viewEslip(data.eslip_no)"
            >
              <i nz-icon nzType="eye"></i>
            </button>
            <button
              style="margin-left:1vh"
              nz-button
              nzType="link"
              style="color: #f0ad4e;"
              nzTooltipTitle="View Eslip Accounts."
              nzTooltipPlacement="topCenter"
              nz-tooltip
              (click)="viewEslipAc(data.eslip_no)"
            >
              <i nz-icon nzType="eye"></i>
            </button>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
  