

<div nz-row nzGutter="10" style = "margin-bottom:2vh">
  <div nz-col nzSpan="12">
    <input
      nz-input
      placeholder="Search"
      [(ngModel)]="searchValue"
      style="width: 100%;"
      maxlength="100"
    />
  </div>

  <div nz-col nzSpan="12">
    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="4">
        <button
          nz-button
          style="background-color: #5cb85c;"
          nzTooltipTitle="Download Excel."
          nzTooltipPlacement="topCenter"
          nz-tooltip
          [nzLoading]="loading"
          [disabled]="loading"
          (click)="downloadExcel()"
        >
          <i nz-icon nzType="download"></i>
        </button>
      </div>
    </div>
  </div>
  </div>
  
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <nz-table #filterTable [nzData]="rows" [nzShowPagination]="false">
      <thead>
        <tr>  
            <th class="header">#</th>    
         
          <th class="header">Invoice</th>
          <th class="header">Invoice Date</th>
          <th class="header">Service</th>          
          <th class="header">Commission</th>
          <th class="header">Tax</th>
          <th class="header">Amount</th>
          <th class="header">Due Date</th>
       
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let data of filterTable.data  | invoiceSearch: searchValue; let i = index"
        >    
        <td>{{i + 1}}</td>     
          
          <td>{{ data.invoice }}</td>
          <td>{{ data.created_at | date: "short" }}</td>
          <td>{{ data.service }}</td>         
          <td>{{ data.commission }} %</td>
          <td>{{ data.tax }} %</td>
          <td>Ksh. {{ data.amount | number: '2.' }}</td>
          <td>{{ data.due_date| date: "short" }}</td>
          </tr>
      </tbody>
    </nz-table>
  </nz-spin>
  