<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="this.billerService.selectedTab" (nzSelectedIndexChange)="handleChange($event)">
      <nz-tab [nzTitle]="'Outstanding Invoices'">
          <ng-template nz-tab>
              <app-outstanding-invoices></app-outstanding-invoices>
          </ng-template>      
       </nz-tab>
      <nz-tab [nzTitle]="'Paid Invoices'">
          <ng-template nz-tab>
              <app-paid-invoices></app-paid-invoices>
          </ng-template>     
      </nz-tab>
      <nz-tab [nzTitle]="'Disputed Invoices'">
          <ng-template nz-tab>
              <app-disputed-invoices></app-disputed-invoices>
          </ng-template>      
      </nz-tab> 
     
  </nz-tabset>