
  <div nz-row>
    <div nz-col nzSpan="12">
      <input
        nz-input
        placeholder="Search"
        [(ngModel)]="searchValue"
        style="width: 100%;"
        maxlength="100"
      />
    </div>
    <div nz-col nzSpan="12">
      <div nz-row nzType="flex" nzJustify="end">
        <div nz-col nzSpan="3">
          <button
          nz-button
          nzTheme="outline"
          nzType="link"
          nzTooltipTitle="Download Excel"
          nzTooltipPlacement="left"
          nz-tooltip
          (click)="downloadCSV()"
        >
          <i nz-icon nzType="download"></i>
        </button>
      </div>
      </div>
    </div>
  </div>

<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="12">
    <h2 class="text-color-grey-dark">
      Eslip Number: <span> {{ EslipNo }} </span>
    </h2>
  </div>
  <div nz-col nzSpan="12">
    <h2 class="text-color-grey-dark">
      Number of Accounts: <span> {{ AccountsCount }} </span>
    </h2>
  </div>
</div>

<div class="page-title" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100" fxLayoutAlign="start center"></div>
  <div fxFlex="100" fxLayoutAlign="start center"></div>
  <div fxFlexOffset="5" fxFlex="100" fxLayoutAlign="center center"></div>
</div>
<cdk-virtual-scroll-viewport itemSize="18">
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <nz-table #filterTable [nzData]="rows" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Account Name</th>
          <th>Account Number</th>
          <th>Amount to Pay</th>
          <th>Amount Due</th>
          <th>Status</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rows | eslipAc: searchValue; let i = index">
          <td>{{ data.account_name }}</td>
          <td>{{ data.account_no }}</td>
          <td>{{ data.amount_to_pay | currency: "Ksh." }}</td>
          <td>{{ data.amount_due | currency: "Ksh." }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.due_date | date: "short" }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</cdk-virtual-scroll-viewport>
